Repository lyutails/rsschool-react-2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --color, eslint --fix --color

fix: remove unnecessary changes
  .next/trace
Due: none

feat: restore logo path
  src/footer/footer.module.scss
Due: prettier --write --color

feat: add ignore file
  .gitignore
Due: none

feat: create base config
  .eslintrc
  .gitattributes
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  README.md
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write --color, eslint --fix --color

feat: extend config
  .eslintrc
  .lintstagedrc
  .prettierrc
  README.md
  package.json
  tsconfig.node.json
Due: none

feat: install react hook form
  package-lock.json
  package.json
Due: none

feat: install yup
  package-lock.json
  package.json
Due: none

feat: update config
  package-lock.json
  package.json
Due: none

feat: remove tsx extention in import
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

Path conditions:
  prettier --write --color: any of: *.{ts,tsx,css,scss,html}
  eslint --fix --color: any of: *.{ts,tsx}
