Repository lyutails/rsschool-react-2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --color, eslint --fix --color

.lintstagedrc:

{
  "*.{ts,tsx,css,scss,html}": "prettier --write --color",
  "*.{ts,tsx}": "eslint --fix --color"
}

feat: update vite config
  package-lock.json
  src/pagination-buttons/pagination-buttons.test.tsx
  vite.config.ts
Due: prettier --write --color, eslint --fix --color

feat: keep calm and commit
  .husky/pre-push
  src/header/header.spec.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/pagination-buttons/pagination-buttons.test.tsx
Due: prettier --write --color, eslint --fix --color

feat: update husky pre-hush
  setupTests.ts
  src/header/header1.tsx
  src/test.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: update pre-push
  vite.config.ts
Due: prettier --write --color, eslint --fix --color

feat: remove test test file
  src/test.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: test test file
  src/test.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: update package json
  package.json
Due: none

feat: update package json for coverage
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/header1.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  package-lock.json
  package.json
Due: prettier --write --color

feat: update config
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/prettify.js
  coverage/sorter.js
Due: none

feat: add redux to the project
  package-lock.json
  package.json
Due: none

feat: stick footer to bottom
  src/app.module.scss
Due: prettier --write --color

feat: configure store and save to there search input value
  package-lock.json
  package.json
  src/app.module.scss
  src/header/header.spec.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/main.tsx
  src/state_management/counterSlice.ts
  src/state_management/searchSlice.ts
  src/state_management/speciesSlice.ts
  src/state_management/store.tsx
Due: prettier --write --color, eslint --fix --color

feat: make api call via rtk query
  src/api/api.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/state_management/store.tsx
Due: prettier --write --color, eslint --fix --color

feat: change fetching a species id via rtk
  src/api/api.tsx
  src/card-details/card-details.tsx
  src/hero_page/hero_page.tsx
  src/state_management/store.tsx
Due: prettier --write --color, eslint --fix --color

feat: rename fake test file
  src/header/header1.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove unnecessary console logs
  src/hero_page/hero_page.tsx
Due: prettier --write --color, eslint --fix --color

feat: add test for hamster
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/headerspec.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/app.spec.tsx
  src/assets/skyfall.jpg
  src/header/headerspec.tsx
  src/spinner.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: add test for header
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/headerspec.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  package-lock.json
  package.json
  src/header/header.spec.tsx
  src/header/headerspec.tsx
Due: prettier --write --color, eslint --fix --color

feat: add test for fallback ui
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/fallbackUI/fallbackUI.spec.tsx
  src/fallbackUI/fallbackUI.tsx
  src/footer/footer.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: add test for details
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/bottom_section/bottom_section.spec.tsx
  src/card-details/details.spec.tsx
  src/card-details/details.tsx
Due: prettier --write --color, eslint --fix --color

feat: test input in header
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/header/header.spec.tsx
  src/header/header.tsx
Due: prettier --write --color, eslint --fix --color

feat: add test for pagination component
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/error-page/error-page.tsx
  src/pagination-buttons/pagination-buttons.spec.tsx
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: add couple more tests
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/bottom_section/bottom_section.spec.tsx
  src/bottom_section/bottom_section.tsx
  src/card-details/card-details.spec.tsx
Due: prettier --write --color, eslint --fix --color

fix: some correction to tests
  coverage/clover.xml
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
Due: prettier --write --color

fix: some correction to tests
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/prettify.js
  coverage/sorter.js
Due: none

feat: commit not automatically staged
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/prettify.js
  coverage/sorter.js
Due: none

feat: remove unused test file
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/prettify.js
  coverage/sorter.js
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/test.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: add coverage to gitignore
  .gitignore
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/prettify.js
  coverage/sorter.js
Due: none

feat: put files in corresponding folders
  src/app/app.module.scss
  src/app/app.spec.tsx
  src/app/app.tsx
  src/bottom_section/bottom_section.tsx
  src/card-details/card-details.tsx
  src/card/card.tsx
  src/error_boundary/error_boundary.tsx
  src/footer/footer.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/main.tsx
  src/pagination-buttons/pagination-buttons.tsx
  src/spinner/hamster.module.scss
  src/spinner/spinner.spec.tsx
  src/spinner/spinner.tsx
Due: prettier --write --color, eslint --fix --color

feat: some files restructuring
  src/app/app.module.scss
  src/footer/footer.module.scss
  src/footer/footer.tsx
  src/header/header.module.scss
  src/header/header.tsx
Due: prettier --write --color, eslint --fix --color

feat: some files restructuring
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sorter.js
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/app.tsx.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/card.tsx.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/error_boundary.tsx.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/spinner.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/header/header.spec.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove unnecessary folder
  coverage/clover.xml
  coverage/index.html
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
  src/header/__snapshots__/header.spec.tsx.snap
Due: prettier --write --color

feat: add coverage to gitignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/src/api/api.tsx.html
  coverage/src/api/index.html
  coverage/src/bottom_section/bottom_section.tsx.html
  coverage/src/bottom_section/index.html
  coverage/src/card-details/card-details.tsx.html
  coverage/src/card-details/details.tsx.html
  coverage/src/card-details/index.html
  coverage/src/error-page/error-page.tsx.html
  coverage/src/error-page/index.html
  coverage/src/fallbackUI/fallbackUI.tsx.html
  coverage/src/fallbackUI/index.html
  coverage/src/footer/footer.tsx.html
  coverage/src/footer/index.html
  coverage/src/header/header.tsx.html
  coverage/src/header/index.html
  coverage/src/hero_page/hero_page.tsx.html
  coverage/src/hero_page/index.html
  coverage/src/index.html
  coverage/src/main.tsx.html
  coverage/src/pagination-buttons/index.html
  coverage/src/pagination-buttons/pagination-buttons.tsx.html
  coverage/src/state_management/counterSlice.ts.html
  coverage/src/state_management/index.html
  coverage/src/state_management/loadingSlice.ts.html
  coverage/src/state_management/searchSlice.ts.html
  coverage/src/state_management/store.tsx.html
Due: prettier --write --color

feat: make changes in gitignore
  .gitignore
Due: none

feat: install next in the project
  package-lock.json
  package.json
Due: none

feat: move hero page to pages directory
  src/app/app.tsx
  src/bottom_section/bottom_section.tsx
  src/pages/hero_page/hero_page.spec.tsx
  src/pages/hero_page/hero_page.tsx
Due: prettier --write --color, eslint --fix --color

feat: move error page to pages directory
  src/app/app.tsx
  src/pages/error-page/error-page.module.scss
  src/pages/error-page/error-page.tsx
Due: prettier --write --color, eslint --fix --color
