Repository lyutails/rsschool-react-2023Q4: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --color, eslint --fix --color

feat: testing files linting
  .lintstagedrc
  src/test.tsx
Due: prettier --write --color, eslint --fix --color

feat: make config for husky prettier eslint
  .lintstagedrc
  package.json
Due: none

feat: create first module base
  index.html
  package-lock.json
  package.json
  public/grogu_favicon_01.svg
  public/grogu_favicon_02.svg
  public/vite.svg
  src/App.css
  src/App.tsx
  src/api/api.ts
  src/assets/bb-8-d-o_38bbab89.jpeg
  src/assets/grogu.png
  src/assets/react.svg
  src/assets/search.svg
  src/assets/wookie.jpg
  src/bottom_section/bottom_section.tsx
  src/card.tsx
  src/error_boundary.tsx
  src/fallbackUI/fallbackUI.tsx
  src/hamster.css
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/main.tsx
  src/spinner.tsx
  src/test1.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write --color, eslint --fix --color

feat: add scripts for deploy to config
  package.json
  tsconfig.json
Due: none

feat: redo css to modules scss
  package-lock.json
  package.json
  src/App.tsx
  src/app.module.scss
  src/bottom_section/bottom_section.tsx
  src/card.tsx
  src/hamster.module.scss
  src/header/header.tsx
  src/index.module.scss
  src/main.tsx
  src/spinner.tsx
Due: prettier --write --color, eslint --fix --color

Updates
  README.md
  assets/bb-8-d-o_38bbab89-26c49f95.jpeg
  assets/grogu-055fc9d6.png
  assets/index-2ea84cb4.js
  assets/index-31140992.css
  assets/search-0c5b0af0.svg
  assets/wookie-f0c1afc1.jpg
  grogu_favicon_01.svg
  grogu_favicon_02.svg
  index.html
Due: prettier --write --color

feat: start changing app to functions
  .gitattributes
  src/App.tsx
  src/app.module.scss
  src/assets/bb-8-d-o_38bbab89.jpeg
  src/assets/droid.png
  src/assets/ewok.png
  src/assets/grogu.png
  src/assets/human.png
  src/assets/hutt.png
  src/assets/logo-rs1.png
  src/assets/moncalamari.png
  src/assets/rodian.png
  src/assets/sullustan.png
  src/assets/trandoshan.png
  src/assets/wookie.jpg
  src/assets/wookie.png
  src/bottom_section/bottom_section.tsx
  src/footer/footer.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/index.module.scss
  src/spinner.tsx
Due: prettier --write --color, eslint --fix --color

feat: change bottom section to function component
  src/app.module.scss
  src/bottom_section/bottom_section.tsx
Due: prettier --write --color, eslint --fix --color

feat: turn card component to functional one
  src/app.module.scss
  src/assets/grogu_looking.png
  src/card.tsx
  src/header/header.tsx
  src/index.module.scss
Due: prettier --write --color, eslint --fix --color

feat: turned all components to functional
  src/bottom_section/bottom_section.tsx
Due: prettier --write --color, eslint --fix --color

feat: create error page
  package-lock.json
  package.json
  src/app.module.scss
  src/assets/toydarian.png
  src/bottom_section/bottom_section.tsx
  src/error-page/error-page.module.scss
  src/error-page/error-page.tsx
  src/hero_page/hero_page.tsx
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

feat: add pagination buttons
  src/api/api.ts
  src/api/api.tsx
  src/app.module.scss
  src/card-details/card-details.module.scss
  src/card-details/card-details.tsx
  src/card.tsx
  src/error-page/error-page.module.scss
  src/error-page/error-page.tsx
  src/hero_page/hero_page.tsx
  src/index.module.scss
  src/main.tsx
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: limit pagination on one and four pages
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: finish pagination
  src/api/api.tsx
  src/bottom_section/bottom_section.tsx
  src/card-details/card-details.tsx
  src/card.tsx
  src/hero_page/hero_page.tsx
  src/main.tsx
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

Updates
  assets/bb-8-d-o_38bbab89-26c49f95.jpeg
  assets/droid-4813a17f.png
  assets/ewok-f4755e15.png
  assets/grogu-055fc9d6.png
  assets/grogu-3d145833.png
  assets/grogu_looking-a4eb9273.png
  assets/human-94c8b9c3.png
  assets/hutt-99373a57.png
  assets/index-2ea84cb4.js
  assets/index-31140992.css
  assets/index-6645d768.css
  assets/index-bdce549f.js
  assets/logo-rs1-0487eb03.png
  assets/moncalamari-97f83ff3.png
  assets/rodian-26e0a4c6.png
  assets/sullustan-53da329e.png
  assets/toydarian-bf171dcf.png
  assets/trandoshan-b4d75efc.png
  assets/wookie-6294f953.png
  assets/wookie-f0c1afc1.jpg
  index.html
Due: prettier --write --color

feat: unnecessary comments
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

feat: tell windows file was renamed
  src/app.tsx
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

feat: work on side panel
  src/api/api.tsx
  src/bottom_section/bottom_section.tsx
  src/card-details/card-details.tsx
  src/card.tsx
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

feat: implement more correct placement of details
  src/app.module.scss
  src/bottom_section/bottom_section.tsx
  src/card-details/card-details.module.scss
  src/card-details/card-details.tsx
  src/card-details/details.tsx
  src/card.tsx
  src/hero_page/hero_page.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove commented code
  src/card-details/card-details.tsx
  src/hero_page/hero_page.tsx
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: add children to route
  src/app.module.scss
  src/app.tsx
  src/card-details/card-details.module.scss
  src/header/header.tsx
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove commented code from main
  src/main.tsx
Due: prettier --write --color, eslint --fix --color

feat: add overlay under spinner
  src/hamster.module.scss
  src/spinner.tsx
Due: prettier --write --color, eslint --fix --color

feat: implement close button for details view
  src/app.module.scss
  src/card-details/card-details.module.scss
  src/card-details/card-details.tsx
  src/card.tsx
  src/test.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove commented code
  src/app.tsx
Due: prettier --write --color, eslint --fix --color

feat: implement closing details by click on main
  src/card-details/card-details.module.scss
  src/card-details/card-details.tsx
Due: prettier --write --color, eslint --fix --color

feat: create browser router and provider
  src/app.tsx
Due: prettier --write --color, eslint --fix --color

feat: add pics for all species
  src/assets/aleena.png
  src/assets/besalisk.png
  src/assets/cerean.png
  src/assets/chagrian.png
  src/assets/clawdite.png
  src/assets/dug.png
  src/assets/geonosian.png
  src/assets/gungan.png
  src/assets/iktotchi.png
  src/assets/kaleesh.png
  src/assets/kaminoan.png
  src/assets/keldor.png
  src/assets/mirialan.png
  src/assets/muun.png
  src/assets/nautolan.png
  src/assets/neimodian.png
  src/assets/pauan.png
  src/assets/quermian.png
  src/assets/skakoan.png
  src/assets/tholothian.png
  src/assets/togruta.png
  src/assets/toong.png
  src/assets/twilek.png
  src/assets/vulptereen.png
  src/assets/xexto.png
  src/assets/zabrak.png
  src/bottom_section/bottom_section.tsx
  src/hamster.module.scss
Due: prettier --write --color, eslint --fix --color

feat: create query url
  src/app.tsx
  src/bottom_section/bottom_section.tsx
  src/card.tsx
  src/hero_page/hero_page.tsx
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: create query
  src/app.tsx
  src/bottom_section/bottom_section.tsx
  src/card-details/card-details.tsx
  src/card.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove console logs
  src/error-page/error-page.tsx
  src/hero_page/hero_page.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove doubled pagination buttons
  src/pagination-buttons/pagination-buttons.tsx
Due: prettier --write --color, eslint --fix --color

feat: change root colour scheme
  src/index.module.scss
Due: prettier --write --color

feat: add alert to push new branch
  src/bottom_section/bottom_section.tsx
Due: prettier --write --color, eslint --fix --color

feat: remove alert
  src/bottom_section/bottom_section.tsx
Due: prettier --write --color, eslint --fix --color

feat: put fetched data page and search value in context
  src/bottom_section/bottom_section.tsx
  src/header/header.tsx
  src/hero_page/hero_page.tsx
Due: prettier --write --color, eslint --fix --color

feat: add vitest to the project
  package-lock.json
  package.json
Due: none

feat: add react testing library to the project
  package-lock.json
  package.json
Due: none

feat: add test script command to package json
  package.json
Due: none

feat: configure vitest
  package-lock.json
  package.json
  setupTests.ts
  vite.config.ts
Due: prettier --write --color, eslint --fix --color

Path conditions:
  prettier --write --color: any of: *.{ts,tsx,css,scss,html}
  eslint --fix --color: any of: *.{ts,tsx}
